@media (min-width: 48em) {
    .navbar {
        display: flex;
    }
}

@media (min-width: 48em) {
    .navbar div {
        display: flex;
    }
}

@media (max-width: 48em) {
    .navbar.active .toggle {
        background: #223047;
        color: white;
    }
    .navbar .brand {
        text-align: left;
    }
    .navbar.active div {
        display: block;
    }
}